.search-form {
  background-color: #ad66a9;
display: flex;
justify-content: center;
padding: 20px 0;
position: fixed;
top: 0;
left: 0;
width: 100%;
}
.search-input{
  height: 30px;
  margin-right: 20px;
  border-radius: 10px;
  border-color: aliceblue;
}
.submit {
  border-radius: 10px;
  border-color: aliceblue;
  background-color: aliceblue;
}
.gallery {
  display: flex;
  margin: 150px 50px 50px 50px;
  row-gap: 20px;
  column-gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}
.load-more.onshow{
  background-color: #ad66a9;
  color: aliceblue;
  display: block;
  margin: 0 auto;
  height: 40px;
  width: 180px;
  margin-bottom: 50px;
  border-radius: 10px;
}